.container {
    display: flex;
    /* justify-content: start; */
    margin: 2em 0;
    font-weight: 900;
    font-size: 1em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.description_image {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding:2em;
}

.description_image a{
    color: #0e396a;
}

.input {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: .5em;
}

.label {
    min-width: 5em;
    padding-right: 1em;
    text-align: right;
}

.input input {
    background-color: transparent;
    flex: 1;
    padding: .5em;
    /* border: 1px 0px solid #ccc; */
    border: none;
    border-bottom: .2em solid #0e396a;
    outline: none;
    border-radius: .25em;
    color: white;
    background-color: #00000038;
}

.input input:focus {
    border-color: #0e396a;
    /* background-color: transparent; */
}

.input input[type="number"] {
    appearance: textfield;
}

.input p {
    position: absolute;
    left: 100%;
    width: 150%;
    margin-left: 1em;
    color: rgb(170, 30, 30);
    text-shadow: none;
}

.types_selected {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.types_selected:hover {
    cursor: pointer;
    background-color: #fc746a;
    border-color: #fc746a;
    box-shadow: 0px 0px 2px #000;
}

.send_btn {
    display: block;
    width: 75%;
    margin: 1em auto;
    background-color: #78b1f3;
    border: .2em solid #c1dcfa;
    border-radius: .3em;
    font-size: 1.2em;
    cursor: pointer;
}

.send_btn:disabled {
    cursor: not-allowed;
    background-color: #9cc9fc;
    color: #505152;
}

.send_btn:hover {
    transform: scale(1.2);
    transition: .3s ease all;
}