.container {
    display: flex;
    /* background-color: #1d4573; */
    background-color: transparent;
    justify-content: space-between;
    padding-inline: 5em;
    align-items: center;
    border-bottom:.2em solid #ccc;
}

.icon {
    font-size: 5em;
    color: white;
    font-weight: 900;
    transition: .3s ease all;

}
.icon:hover{
    cursor: pointer;
    transform: scale(1.6);
}