.container {
    color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 75%;
    background-color: transparent;
}

.header{
    text-align: center;
    font-size: 1.5em;
    border-bottom: .1em solid #ccc;
}